h1 {
  text-align: center;
}

.pagination {
  display: inline-block;
  border: 1px solid;
  margin-top: 5px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
}

.pagination--active {
  background-color: black;
  color: white;
}
