<h1 style="text-align:center;">Add Girl</h1>
<div>Name: <input type="text" ng-model="girl.name" class="form-control-static"></div>
<div>Age: <input type="number" ng-model="girl.age"  class="form-control-static"></div>
<div>Facebook: <input type="text" ng-model="girl.facebook"  class="form-control-static"></div>
<div>Password: <input type="text" ng-model="girl.password"  class="form-control-static"></div>
<input type="button" value="Add" ng-click="add()" class="btn btn-primary">
<input type="button" value="Cancel" ng-click="cancel()" class="btn btn-success">
