<h1>Hot Girls Techkids</h1>
<lx page="1" size="5"></lx>
<!-- <table border="1" style="width:100%;">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Facebook</th>
    <th>Pasword</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="girl in girls">
    <td>{{girl.name}}</td>
    <td>{{girl.age}}</td>
    <td>{{girl.facebook}}</td>
    <td>{{girl.password}}</td>
    <td><input type="button" value="Delete" ng-click="delete($index)"><input type="button" value="Update" ng-click="update(girl, $index)"></td>
  </tr>
</table> -->
